---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: calico
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    chart: tigera-operator
    repoURL: https://docs.tigera.io/calico/charts
    targetRevision: v3.31.4
    helm:
      releaseName: calico
  destination:
    server: "https://kubernetes.default.svc"
    namespace: tigera-operator
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    automated:
      prune: true
      selfHeal: true
